In [1]:
import numpy as np
import pandas as pd
import heapq

In [71]:
data_user_fin = pd.read_csv('C:\\Users\\realn\\PycharmProjects\\ML_training_course\\00_Final_Call\\app_fc_2\\data_user_fin.csv')
data_user_fin

,user_id,age,business,covid,entertainment,movie,politics,sport,tech
0,13346,19,8.0,27.0,5.0,42.0,13.0,16.0,6.0
1,134494,25,7.0,11.0,5.0,19.0,5.0,11.0,1.0
2,26860,23,2.0,6.0,0.0,5.0,2.0,4.0,1.0
3,26861,20,1.0,3.0,0.0,5.0,2.0,1.0,0.0
4,148105,28,6.0,21.0,5.0,20.0,4.0,4.0,1.0
...,...,...,...,...,...,...,...,...,...
163200,13344,58,1.0,4.0,2.0,11.0,2.0,1.0,3.0
163201,134493,35,3.0,8.0,0.0,11.0,2.0,0.0,0.0
163202,13345,18,0.0,10.0,1.0,12.0,6.0,11.0,1.0
163203,26859,36,1.0,4.0,4.0,20.0,1.0,3.0,0.0
163204,148104,17,0.0,1.0,0.0,7.0,1.0,2.0,0.0

In [3]:
from sklearn.metrics.pairwise import cosine_similarity

In [72]:
data_user_fin_cos = data_user_fin.drop(columns=["user_id"])

In [76]:
c_sim = cosine_similarity(data_user_fin_cos.iloc[[0]], data_user_fin_cos.drop([0], axis=0)).tolist()[0]

In [77]:
N = 3
res = [c_sim.index(i) for i in heapq.nlargest(N, c_sim)]
res = res[::-1]
 
# printing result
print("Indices list of max N elements is : " + str(res))

Indices list of max N elements is : [142829, 5732, 22442]

In [82]:
data_user_fin.iloc[res]["user_id"].tolist()

[83688, 71781, 128462]

In [88]:
data_user_fin_ = data_user_fin.copy()

In [98]:
data_user_fin_["users_1"] = 0
data_user_fin_["users_2"] = 0
data_user_fin_["users_3"] = 0

In [99]:
data_user_fin_

,user_id,age,business,covid,entertainment,movie,politics,sport,tech,nearest_users,users_1,users_2,users_3
0,13346,19,8.0,27.0,5.0,42.0,13.0,16.0,6.0,83688,0,0,0
1,134494,25,7.0,11.0,5.0,19.0,5.0,11.0,1.0,0,0,0,0
2,26860,23,2.0,6.0,0.0,5.0,2.0,4.0,1.0,0,0,0,0
3,26861,20,1.0,3.0,0.0,5.0,2.0,1.0,0.0,0,0,0,0
4,148105,28,6.0,21.0,5.0,20.0,4.0,4.0,1.0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
163200,13344,58,1.0,4.0,2.0,11.0,2.0,1.0,3.0,0,0,0,0
163201,134493,35,3.0,8.0,0.0,11.0,2.0,0.0,0.0,0,0,0,0
163202,13345,18,0.0,10.0,1.0,12.0,6.0,11.0,1.0,0,0,0,0
163203,26859,36,1.0,4.0,4.0,20.0,1.0,3.0,0.0,0,0,0,0
163204,148104,17,0.0,1.0,0.0,7.0,1.0,2.0,0.0,0,0,0,0

In [100]:
data_user_fin_.loc[0, "users_1"] = data_user_fin.iloc[res]["user_id"].tolist()[0]
data_user_fin_.loc[0, "users_2"] = data_user_fin.iloc[res]["user_id"].tolist()[1]
data_user_fin_.loc[0, "users_3"] = data_user_fin.iloc[res]["user_id"].tolist()[2]

In [104]:
data_user_fin_

,user_id,age,business,covid,entertainment,movie,politics,sport,tech,users_1,users_2,users_3
0,13346,19,8.0,27.0,5.0,42.0,13.0,16.0,6.0,83688,71781,128462
1,134494,25,7.0,11.0,5.0,19.0,5.0,11.0,1.0,0,0,0
2,26860,23,2.0,6.0,0.0,5.0,2.0,4.0,1.0,0,0,0
3,26861,20,1.0,3.0,0.0,5.0,2.0,1.0,0.0,0,0,0
4,148105,28,6.0,21.0,5.0,20.0,4.0,4.0,1.0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
163200,13344,58,1.0,4.0,2.0,11.0,2.0,1.0,3.0,0,0,0
163201,134493,35,3.0,8.0,0.0,11.0,2.0,0.0,0.0,0,0,0
163202,13345,18,0.0,10.0,1.0,12.0,6.0,11.0,1.0,0,0,0
163203,26859,36,1.0,4.0,4.0,20.0,1.0,3.0,0.0,0,0,0
163204,148104,17,0.0,1.0,0.0,7.0,1.0,2.0,0.0,0,0,0

In [110]:
from tqdm import tqdm
def cosine_sim_users():
    for user in tqdm(range(len(data_user_fin)), desc="cosine"):
        c_sim = cosine_similarity(data_user_fin_cos.iloc[[user]], data_user_fin_cos.drop([user], axis=0)).tolist()[0]
        res = [c_sim.index(i) for i in heapq.nlargest(N, c_sim)]
        res = res[::-1]
        data_user_fin_.loc[user, "users_1"] = data_user_fin.iloc[res]["user_id"].tolist()[0]
        data_user_fin_.loc[user, "users_2"] = data_user_fin.iloc[res]["user_id"].tolist()[1]
        data_user_fin_.loc[user, "users_3"] = data_user_fin.iloc[res]["user_id"].tolist()[2]

In [111]:
cosine_sim_users()

data_user_fin_

cosine: 100%|███████████████████████| 163205/163205 [1:34:36<00:00, 28.75it/s]

,user_id,age,business,covid,entertainment,movie,politics,sport,tech,users_1,users_2,users_3
0,13346,19,8.0,27.0,5.0,42.0,13.0,16.0,6.0,83688,71781,128462
1,134494,25,7.0,11.0,5.0,19.0,5.0,11.0,1.0,130948,22018,153437
2,26860,23,2.0,6.0,0.0,5.0,2.0,4.0,1.0,103265,70725,56715
3,26861,20,1.0,3.0,0.0,5.0,2.0,1.0,0.0,89060,95627,59551
4,148105,28,6.0,21.0,5.0,20.0,4.0,4.0,1.0,71786,13014,83952
...,...,...,...,...,...,...,...,...,...,...,...,...
163200,13344,58,1.0,4.0,2.0,11.0,2.0,1.0,3.0,8831,154059,135075
163201,134493,35,3.0,8.0,0.0,11.0,2.0,0.0,0.0,140592,37155,91362
163202,13345,18,0.0,10.0,1.0,12.0,6.0,11.0,1.0,16096,165988,20402
163203,26859,36,1.0,4.0,4.0,20.0,1.0,3.0,0.0,88467,117887,55263
163204,148104,17,0.0,1.0,0.0,7.0,1.0,2.0,0.0,160149,142161,156090

In [112]:
data_user_fin_.to_csv('data_user_sim.csv', index=False)

In [113]:
data_post_fin = pd.read_csv('C:\\Users\\realn\\PycharmProjects\\ML_training_course\\00_Final_Call\\app_fc_4\\data_post_fin_nn.csv')

In [114]:
like_table = pd.read_csv('C:\\Users\\realn\\PycharmProjects\\ML_training_course\\00_Final_Call\\app_fc_2\\like_table_ts.csv')

In [115]:
from catboost import CatBoostClassifier
from_file = CatBoostClassifier()
from_file.load_model('C:\\Users\\realn\\PycharmProjects\\ML_training_course\\00_Final_Call\\app_fc_4\\cbm_best_balanced.cbm', format='cbm')

In [116]:
users_table = data_user_fin_

In [134]:
user_id = 200
limit = 5

In [146]:
%time
# Будем уверенными, что переданная в методе дата подходит для выбранного нами формата
f = pd.to_datetime("1990-01-01")
f = (f - pd.Timestamp("1970-01-01")) // pd.Timedelta('1s')


# Найдём юзера
test_user = users_table[users_table['user_id'] == user_id]

# Найдём посты, которые нужно для юзера исключить
excluded_posts = like_table[like_table['user_id'] == user_id]
excluded_posts = excluded_posts[excluded_posts['timestamp'] < f]['post_id']

# Исключим посты из общего пула
posts_fin = data_post_fin.merge(excluded_posts, indicator=True, how='left').loc[
    lambda x: x['_merge'] != 'both'].drop(columns=['_merge'])

# Подмержим юзера, нужно для предикта
user_fin = pd.merge(posts_fin, test_user, how="cross").drop(columns=["users_1", "users_2", "users_3"])

# Возьмём похожих юзеров
user_1 = users_table[users_table['user_id'] == int(test_user["users_1"])].drop(columns=["users_1", "users_2", "users_3"])
user_2 = users_table[users_table['user_id'] == int(test_user["users_2"])].drop(columns=["users_1", "users_2", "users_3"])
user_3 = users_table[users_table['user_id'] == int(test_user["users_3"])].drop(columns=["users_1", "users_2", "users_3"])

# Подмержим к ним посты
user_1_fin = pd.merge(posts_fin, user_1, how="cross")
user_2_fin = pd.merge(posts_fin, user_2, how="cross")
user_3_fin = pd.merge(posts_fin, user_3, how="cross")

# Сделаем предикт
user_probas = pd.concat([user_fin,
                             pd.Series(from_file.predict_proba(user_fin)[:, 1], index=user_fin.index, name='probas')],
                            axis=1)

# Также предикты для похожих
user_1_probas = pd.concat([user_fin,
                             pd.Series(from_file.predict_proba(user_1_fin)[:, 1], index=user_fin.index, name='probas')],
                            axis=1)
user_2_probas = pd.concat([user_fin,
                             pd.Series(from_file.predict_proba(user_2_fin)[:, 1], index=user_fin.index, name='probas')],
                            axis=1)
user_3_probas = pd.concat([user_fin,
                             pd.Series(from_file.predict_proba(user_3_fin)[:, 1], index=user_fin.index, name='probas')],
                            axis=1)

# Выберем топ limit для основного, вернём датафреймом
post_df = user_probas.sort_values('probas', ascending=False).iloc[:limit][['post_id', 'probas']]

# То же самое для похожих
post_df_1 = user_1_probas.sort_values('probas', ascending=False).iloc[:limit][['post_id', 'probas']]
post_df_2 = user_2_probas.sort_values('probas', ascending=False).iloc[:limit][['post_id', 'probas']]
post_df_3 = user_3_probas.sort_values('probas', ascending=False).iloc[:limit][['post_id', 'probas']]


# Соединим датасеты
res_df = pd.concat([post_df, post_df_1, post_df_2, post_df_3], ignore_index=True)

# Отсортируем по вероятности
res_df = res_df.sort_values('probas', ascending=False)

# Сбросим дубли
res_df = res_df.drop_duplicates(subset=["post_id"], keep='first')

# вернём список
post_list = list(res_df[:limit]['post_id'])

CPU times: total: 0 ns
Wall time: 0 ns

In [145]:
res_df[:5]

   post_id    probas
0      767  0.788183
1      818  0.787944
2      765  0.787888
3      692  0.787444
4      695  0.785793

In [147]:
post_list

[767, 818, 765, 692, 695]